.login {
    //水平垂直居中
    img {
        width: 100%;
    }
    .well {
        width: 40%;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translateX(-50%) translateY(-50%);
    }
    .people {
        display: inline;
    }
    .register {
        float: right;
    }
    .register:hover {
        cursor: pointer;
    }
    button:first-child {
        margin-right: 15px;
    }
}