<div class="login">
    <login-navbar></login-navbar>
    <img src="frontend/static/imgs/background/bg002.jpg">
    <div class=" well bs-component">
        <form class="form-horizontal">
            <fieldset>
                <legend>用户（商家）登录</legend>
                <div class="form-group">
                    <label class="col-lg-2 control-label">手机号</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="手机号" ng-model="phoneNumber">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">密码</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" placeholder="密码" ng-model="sellerPassword">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">重置</button>
                        <button type="submit" class="btn btn-primary" ng-click="login()">登录</button>
                    </div>
                </div>
                <div class="register" ng-click="register()">免费注册</div>
            </fieldset>
        </form>
    </div>
</div>