 good-item {
     .good-item-chosen {
         border: #ff0036 solid 2px;
     }
     .panel {
         padding: 15px;
         .panel-body {
             padding: 0;
             img {
                 width: 100%;
             }
             .good-price {
                 color: #ff0036;
             }
         }
     }
 }