<div class="row">
    <div ng-repeat="good in goods" class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
        <div class="panel panel-default" ng-class="{'good-item-chosen':hovering}" ng-mouseover="hovering=true" ng-mouseleave="hovering=false" ng-click='toDetail(good)'>
            <div class="panel-body">
                <img ng-src="{{good.imgUrl}}">
                <div>
                    <span class="good-price">{{good.unitPrice}}</span>
                </div>
                <div>
                    <span>{{good.goodName}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<paging ng-show="total>16" page="pageNumber" page-size="pageSize" total='total' show-first-last="true" show-prev-next="true" paging-action='goodHttp(page)'></paging>