<div class="well bs-components fix-style">
    <form class="form-horizontal">
        <fieldset>
            <legend>充值余额</legend>
            <div class="form-group">
                <label class="col-lg-2 control-label">充值金额</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="充值金额" ng-model="inMoney">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">支付密码</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" placeholder="支付密码" ng-model="payPassword">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-default" ng-click="cancel()">取消</button>
                    <button ng-click="in()" class="btn btn-primary">提交给银行</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>