@import url('https://rawgit.com/SidebarJS/sidebarjs/master/demo/demo.css');
[sidebarjs] h3 {
    line-height: 120%;
}

html,
body,
sidebar {
    height: 100%;
}

body {
    min-height: auto;
    sidebar {
        display: block;
        img {
            width: 24px;
            height: 24px;
            margin-right: 20px;
        }
    }
}