<header>
    <div class="icon hamburger-icon" sidebarjs-toggle></div>
    <h1>Business End</h1>
</header>
<sidebarjs on-close="app.onSidebarClose()" on-open="app.onSidebarOpen()">
    <h3>Business End</h3>
    <nav>
        <div>
            <a sidebarjs-toggle href="goods" target="_blank">
                <img src="frontend/static/icon/goods.svg">商品管理</a>
            <a sidebarjs-toggle href="order" target="_blank">
                <img src="frontend/static/icon/order.svg">订单管理</a>
        </div>
        <div>
    </nav>
</sidebarjs>