user {
    img {
        width: 100%
    }
    .panel {
        margin-left: 30px;
        margin-right: 30px;
        .panel-body {
            font-size: 18px;
        }
    }
    .bind {
        color: #36c;
    }
    .bind:hover {
        cursor: pointer;
    }
}