error {
    position: fixed;
    left: 400px;
    z-index: 999;
}

nav {
    img {
        float: right;
        width: 35px;
        position: relative;
        top: 15px;
    }
    img:hover {
        cursor: pointer;
    }
}