$fixWidth:550px;
@mixin fixStyle() {
    position: fixed;
    left: 50%;
    z-index: 1050;
    margin-left: -$fixWidth/2;
    width: $fixWidth;
}

error {
    @include fixStyle();
}

.fix-style {
    @include fixStyle();
}

nav {
    img {
        width: 35px;
        position: relative;
        top: -8px;
    }
    img:hover {
        cursor: pointer;
    }
}