$panelBodyHeight: 80px;
$orderHeadHeight:40px;
order-item {
    th {
        text-align: center;
    }
    .order-head {
        .panel-heading {
            padding: 0;
            height: $orderHeadHeight;
            table {
                width: 100%;
                height: $orderHeadHeight;
            }
        }
    }
    .order-body {
        .panel-body {
            padding: 0;
            height: $panelBodyHeight;
            table {
                width: 100%;
                height: $panelBodyHeight;
                img {
                    height: $panelBodyHeight;
                    width: 100%
                }
            }
        }
    }
    paging{
        .pagination>li>a { //覆盖掉bootstrap的默认样式
            color:#337ab7;
        }
    }
}