<div class="well bs-component">
    <form class="form-horizontal">
        <fieldset>
            <legend>{{title}}</legend>
            <div class="form-group">
                <label class="col-lg-2 control-label">商品名称</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" ng-model='goodDetail.goodName' placeholder="商品名称">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">价格</label>
                <div class="col-lg-10">
                    <input class="form-control" ng-model="goodDetail.unitPrice" placeholder="价格">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">库存</label>
                <div class="col-lg-10">
                    <input class="form-control" ng-model="goodDetail.amount" placeholder="库存">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">商品介绍</label>
                <div class="col-lg-10">
                    <textarea class="form-control" ng-model="goodDetail.goodInfo" rows="3" placeholder="商品介绍"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">重置</button>
                    <button class="btn btn-primary" ng-click="upload()">{{sure}}</button>
                </div>
            </div>
            <div class="feedback" ng-show="ifFeedback">
                <div class='col-lg-10 col-lg-offset-2'>
                    <div><img src="frontend/static/icons/success.svg">{{operation}}成功!</div>
                    <div>您可以<span ng-click='toDetail()'>查看商品详情？</span><span ng-click="continue()">继续{{operation}}商品?</span></div>
                </div>
            </div>
        </fieldset>
    </form>
</div>